<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <p>Name:<input type="text" name="name" value="name"></p><br>
  <p>email:<input type="text" name="email" value="email"></p><br>
  <p>password:<input type="text" name="password" value="password"></p><br>
</form>
